body {
    margin: 0px;
    background-color: #121212;
}

.hat {
    position: sticky;
    top: 0;
    background-color: #121212;
    padding-bottom: 25px;
}

.icon {
    width: 250px;
    margin-left: 22px;
    margin-top: 25px;
}

.main a {
    text-decoration: none;
    margin-right: 20px;
    font-family: Agmena;
    font-weight: 200px;
    font-size: 40px;
    position: relative;
    float: right;
    bottom: 43px;
    color: rgb(216, 176, 117);
}

.mainPicture {
    width: 1920px;
    height: 1080px;
}

.mainPicture img {
    max-width: 100%;
    max-height: 100%;
    /* position: relative;
    bottom: 20px; */
}

.title {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: white;
    font-family: tahoma;
}

.mainBeginning {
    box-sizing: border-box;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
}

.text1 {
    color: white;
    font-family: tahoma;
    font-size: 20px;
}

.list {
    list-style-type: circle;
    color: white;
    font-family: tahoma;
    font-size: 20px;
}

.list li::marker {
    font-size: 25px;
}